<suite thread-count="1" verbose="1" name="sname" parallel="tests">
    <test verbose="2" name="MytestCase" group-by-instances="true">
        <classes>
           <class name="TestCases.ValidpetID"></class>
            <class name="TestCases.InValidpetID"></class>
        </classes>
    </test>
</suite>




